<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-template-zones/cells-template-zones.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-login-view/cells-login-view.html">
<link rel="import" href="../../../components/cells-basic-login/cells-basic-login.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel='import' href='../../../components/cells-molecule-alert-slide/cells-molecule-alert-slide.html'>

<dom-module id="techubank-header-page">
  <template>
    <style>

    </style>

    <cells-molecule-alert-slide id="alert" type="[[alert.type]]" _icon="{{alert._icon}}" text="{{alert.text}}" timeout="[[alert.timeout]]"></cells-molecule-alert-slide>

    <cells-component-app-header on-left-button-pressed="_show_hide_menu" icon-logout-id="coronita:on" user-logged="true"
      icon-left="menu" icon-left-label="Menu" icon-menu="banking:B34" text="{{title}}">
    </cells-component-app-header>

    <cells-organism-menu-sidebar user="[[userProfile]]" hidden$="{{hidden_menu}}"
      on-link-clicked="_manage_chances">
    </cells-organism-menu-sidebar> 
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class TechuBankHeaderPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'techubank-header-page';
        }

        static get properties() {
          return {
            alert: {
              type: Object,
              value: {
                type: 'error',
                text: 'login-incorrect',
                timeout: 3000
              }
            },
            token: {
              type: Object,
              value: '',
              notify: true
            },
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url
            },
            title: {
              type: String,
              value: '',
              notify: true
            },
            hidden_menu: {
              type: Boolean,
              value: true,
              notify: true
            },
            userProfile: {
              type: Object,
              value: {
                firstName: 'dummy',
                avatar: {
                  url: 'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/36ed6baa-852d-4568-8575-af3dd288c5ea/db5odup-01c15150-0e43-4371-a117-080a029a75d3.png/v1/fill/w_600,h_717,strp/tmnt___raphael_by_chibicorporation_db5odup-fullview.png'
                }
              }
            }
          };
        }

        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          if (!window.sessionStorage.getItem('token')) {
            const alert = this.$.alert

            alert.addMessage({
              type: 'error',
              text: this.t('invalid-session'),
              _icon: 'coronita:error',
              timeout: 1500,
              noCancelOnOutsideClick: true,
              isStatic: false
            })
            setTimeout(() => {
              this.navigate('login')
            }, 1500)
          }

          this.subscribe('alert-message', data => {
            const alert = this.$.alert

            alert.addMessage({
              type: data.type,
              text: data.text,
              _icon: data.icon,
              timeout: data.timeout,
              noCancelOnOutsideClick: true,
              isStatic: false
            })
          });


          const token = JSON.parse(window.sessionStorage.getItem('token'))

          this.set('token', token)

          this.set('userProfile', {
            userProfile: token.username,
            firstName: token.name,
            avatar: {

              url: 'https://www.theninjaproject.bbva/assets/vectors/ninja/avatar.svg'
            }
          })
        }

        _show_hide_menu() {
          this.set('hidden_menu', !this.hidden_menu)
        }


        _manage_chances(payload) {
          this.set('hidden_menu', !this.hidden_menu)
        }
      }

      window.customElements.define(TechuBankHeaderPage.is, TechuBankHeaderPage);
    };

  </script>
</dom-module>
