<link rel='import' href='../../../components/cells-page/cells-page.html'>
<link rel='import' href='../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html'>
<link rel='import' href='../../../components/cells-component-app-header/cells-component-app-header.html'>
<link rel='import' href='../../../components/cells-organism-menu-sidebar/cells-organism-menu-sidebar.html'>
<link rel='import' href='../../../components/banking-icons/banking-icons.html'>
<link rel='import' href='../../../components/coronita-icons/coronita-icons.html'>
<link rel='import' href='../../../components/cells-generic-dp/cells-generic-dp.html'>
<link rel='import' href='../../../components/cells-i18n-behavior/cells-i18n-behavior.html'>
<link rel='import' href='../techubank-header-page/techubank-header-page.html'>
<link rel='import' href='../techubank-footer-page/techubank-footer-page.html'>
<link rel='import' href='../../../components/cells-product-item-list/cells-product-item-list.html'>
<link rel='import' href='../../../components/cells-operations-list/cells-operations-list.html'>
<link rel='import' href='../../../components/cells-product-more-info/cells-product-more-info.html'>
<link rel='import' href='../../../components/cells-summary-view/cells-summary-view.html'>
<link rel='import' href='../../../components/cells-successful-response/cells-successful-response.html'>
<link rel='import' href='../../../components/cells-movements-list-item/cells-movements-list-item.html'>

<dom-module id='account-movements-page'>
  <template>
    <style>
    </style>

    <cells-template-paper-drawer-panel mode='seamed' has-footer>

      <div slot="app__header">
        <techubank-header-page title="{{t('account-movements-page')}}"></techubank-header-page>
      </div>

      <div slot="app__main" class="container" hidden$="{{hide_transfer_info}}">
        <template is="dom-repeat" items="{{movements_lists}}">
          <cells-movements-list-item date="{{item.date}}" label="{{item.description}}" description="{{item.description}}"
            category="9" category-description="Pendiente de categorizar" parsed-amount='{{item.parsed_amount}}'
            parsed-acounting-balance='{{item.parsed_acounting_balance}}' hide-category>
          </cells-movements-list-item>
        </template>
        <cells-st-button class="full">
            <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_return">{{t('return_action')}}</button>
          </cells-st-button>
      </div>
      <div slot="app__footer">
          <techubank-footer-page></techubank-footer-page>
        </div>
    </cells-template-paper-drawer-panel>


    <cells-generic-dp id="getAccountMovementsDP" host="[[techubank_api_url]]" path="v2/account/{{iban}}/movement"
      on-request-error="_getAccountMovementsErrorResponse" on-request-success="_getAccountMovementsResponse" contentType="application/json" method="GET">
    </cells-generic-dp>


    </cells-generic-dp>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class AccountMovementsPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'account-movements-page';
        }

        static get properties() {
          return {
            iban: {
              type: String,
              notify: true
            },
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url,
              notify: true
            },
            token: {
              type: Object,
              notify: true
            },
            movements_lists: {
              type: Array,
              value: [],
              notify: true
            }
          }
        }

        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          this.set('token', JSON.parse(window.sessionStorage.getItem('token')))
          this.set('iban', window.sessionStorage.getItem('account_iban_selected'))

          const authorization_header = {
            "authorization": `${this.token.token_type} ${this.token.access_token}`
          }

          this.$.getAccountMovementsDP.set('headers', authorization_header)
          this.$.getAccountMovementsDP.generateRequest()

          this.subscribe('refresh-account-movements', () => {
            this.$.getAccountMovementsDP.set('headers', authorization_header)
            this.$.getAccountMovementsDP.generateRequest()            
          })
        }

        _getAccountMovementsErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('global-position'), 1500)
        }

        _getAccountMovementsResponse(data) {
          const movement_lists = []
          data.detail.forEach((element) => {
            movement_lists.push({
              date: element.movement_date,
              label: element.description,
              description: element.description,
              category: "9999",
              category_description: 'Pending',
              parsed_amount: { value: element.amount, currency: element.currency },
              parsed_acounting_balance: { value: element.amount, currency: element.currency }
            })
          })
          console.log(movement_lists)
          this.set('movements_lists', movement_lists)
        }

        _return() {
          this.navigate('global-position')
        }
      }


      window.customElements.define(AccountMovementsPage.is, AccountMovementsPage);
    };

  </script>
</dom-module>