<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-date-input/cells-date-input.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-demo-lang-switcher/cells-demo-lang-switcher.html">
<link rel="import" href="../techubank-header-page/techubank-header-page.html">
<link rel="import" href="../techubank-footer-page/techubank-footer-page.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/moment/moment.js">
<link rel='import' href='../../../components/cells-molecule-alert-slide/cells-molecule-alert-slide.html'>

<dom-module id="user-settings-page">
  <template>
    <style>
    </style>

    <cells-template-paper-drawer-panel mode="seamed" has-footer>

      <div slot="app__header">
        <techubank-header-page title="{{t('user-settings')}}"></techubank-header-page>
      </div>

      <div slot="app__main">
        <cells-molecule-alert-slide id="alert" type="[[alert.type]]" text="{{alert.text}}" timeout="[[alert.timeout]]"></cells-molecule-alert-slide>

        <cells-molecule-input id="username" label="{{t('username')}}" type="text" value="{{userInfo.username}}" auto-validate
          required allowed-value="^[a-z0-9]{1,10}$" error-message="{{t('username_validation_error')}}" disabled></cells-molecule-input>
        <cells-molecule-input id="password" value="{{userInfo.password}}" label="{{t('password')}}" type="password" auto-validate
          required allowed-value="(?=.*\d).{8,20}" error-message="{{t('password_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="re_password" value="{{userInfo.re_password}}" label="{{t('re_password')}}" type="password"
          auto-validate required allowed-value="{{userInfo.password}}" error-message="{{t('re_password_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="name" value="{{userInfo.name}}" label="{{t('name')}}" type="text" auto-validate required
          allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('name_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="first_name" value="{{userInfo.first_name}}" label="{{t('first_name')}}" type="text" auto-validate
          required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('first_name_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="last_name" value="{{userInfo.last_name}}" label="{{t('last_name')}}" type="text" auto-validate
          required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('last_name_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="nif" value="{{userInfo.nif}}" label="{{t('nif')}}" type="text" value="" auto-validate required
          allowed-value="\d{8}[-\s]?[a-z A-Z]" error-message="{{t('nif_validation_error')}}" disabled></cells-molecule-input>
        <cells-molecule-input id="birth_date" value="{{userInfo.birth_date}}" name="birth_date" label="{{t('birth_date')}}"
          auto-validate required allowed-value="([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" type="text"
          error-message="{{t('date_validation_error')}}"></cells-molecule-input>

        <cells-molecule-input id="email" value="{{userInfo.email}}" label="{{t('email')}}" type="email" value="" auto-validate
          required error-message="{{t('email_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="phone" value="{{userInfo.phone}}" label="{{t('phone')}}" type="text" value="" auto-validate
          required allowed-value="^([+]?\d{1,2}[-.\s]?)?(\d{3}[-.\s]?)(\d{2}[-.\s]?)\d{4}$" error-message="{{t('phone_validation_error')}}"></cells-molecule-input>


        <cells-molecule-input id="street" value="{{userInfo.address.street}}" label="{{t('street')}}" type="text" auto-validate
          required allowed-value="^[a-z0-9ñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('street_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="zip_code" value="{{userInfo.address.zip_code}}" label="{{t('zip_code')}}" type="text" auto-validate
          required allowed-value="^[a-z0-9]{1,10}$" error-message="{{t('zip_code_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="city" value="{{userInfo.address.city}}" label="{{t('city')}}" auto-validate required
          allowed-value="^[a-zñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('city_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="country" value="{{userInfo.address.country}}" label="{{t('country')}}" auto-validate required
          allowed-value="^[a-zñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('country_validation_error')}}"></cells-molecule-input>


        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_sendUpdateRequest">{{t('update_action')}}</button>
        </cells-st-button>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_cancel">{{t('cancel_action')}}</button>
        </cells-st-button>
      </div>

      <div slot="app__footer">
        <techubank-footer-page></techubank-footer-page>
      </div>

    </cells-template-paper-drawer-panel>

    <cells-generic-dp id="getUserDP" host="[[techubank_api_url]]" path="v2/user/{{userInfo.username}}/info"
      on-request-error="_getUserErrorResponse" on-request-success="_getUserResponse" contentType='application/json'
      method="GET">
    </cells-generic-dp>

    <cells-generic-dp id="updateUserDP" host="[[techubank_api_url]]" path="v2/user" on-request-error="_updateErrorResponse"
      on-request-success="_updateResponse" body='{{userInfo}}' contentType='application/json' method="PUT">
    </cells-generic-dp>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class UserSettingsPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'user-settings-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url
            },
            alert_type: {
              type: String,
              value: 'error',
              notify: true
            },
            alert_timeout: {
              type: Number,
              value: 3000,
              notify: true
            },
            userInfo: {
              type: Object,
              notify: true,
              value: {
                "username": '',
                "name": '',
                "first_name": '',
                "last_name": '',
                "nif": '',
                "birth_date": '',
                "phone": '',
                "email": '',
                "password": '',
                "address": {
                  "street": '',
                  "zip_code": '',
                  "city": '',
                  "country": ''
                }
              }
            },
            token: {
              type: Object,
              notify: true
            },
            authorization_header: {
              type: Object,
              notify: true
            }
          };
        }

        ready() {
          super.ready()

          this.set('token', JSON.parse(window.sessionStorage.getItem('token')))
          this.set('userInfo.username', this.token.username)

          this.set('authorization_header', {
            "authorization": `${this.token.token_type} ${this.token.access_token}`
          })

          this.$.getUserDP.set('headers', this.authorization_header)
          this.$.getUserDP.generateRequest()

        }

        _computeHeaderTitle(params) {
          const pageTitle = params['title'] || ''

          return decodeURI(pageTitle).replace(/-/g, ' ');
        }

        _handleClick() {
          this.navigate('home');
        }

        _sendUpdateRequest(event) {
          this.$.updateUserDP.body = {}

          Object.assign(this.$.updateUserDP.body, this.userInfo)
          if (this.userInfo.address)
            Object.assign(this.$.updateUserDP.body.address, this.userInfo.address)

          this.$.updateUserDP.set('headers', this.authorization_header)

          if (this._validateInformation()) {
            this.$.updateUserDP.generateRequest()
          }
        }

        _getUserResponse(data) {
          delete data.detail.headers

          if (!data.detail.address) {
            data.detail.address = {
              street: '',
              zip_code: '',
              city: '',
              country: ''
            }
          }
          data.detail.re_password = data.detail.password
          data.detail.birth_date = moment(data.detail.birth_date).format('DD/MM/YYYY')

          this.set('userInfo', data.detail)
        }

        _getUserErrorResponse(data) {
          console.log(data)
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('global-position'), 1500)
        }

        _updateResponse(data) {
          this._sendAlert('user-updated', 'info')
          setTimeout(() => {
            this.navigate('global-position')
          }, 1500)

        }

        _updateErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
        }

        _cancel() {
          this._sendAlert('cancel_action', 'info')
          this.$.getUserDP.set('headers', this.authorization_header)
          this.$.getUserDP.generateRequest()
          setTimeout(() => {
            this.navigate('global-position')
          }, 2000)
        }

        _sendAlert(message_key, type) {
          const alert = this.$.alert

          alert.addMessage({
            type: type,
            text: this.t(message_key),
            _icon: `coronita:${type}`,
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          })

        }

        _validateInformation() {
          if (this.$.username.validate() && this.$.name.validate() && this.$.first_name.validate() && this.$.last_name
            .validate() && this.$.nif.validate() &&
            this.$.phone.validate() && this.$.email.validate() && this.$.street.validate() && this.$.zip_code.validate() &&
            this.$.city.validate() &&
            this.$.country.validate() && this.$.birth_date.validate() && this.$.password.validate() && this.$.re_password
            .validate()
          ) {
            if (moment().subtract(18, 'years').isBefore(moment(this.$.birth_date.value, "DD/MM/YYYY"))) {
              this._sendAlert('user-not-adult', 'error')
              return false
            }
            return true
          } else {

            const alert = this.$.alert

            alert.addMessage({
              type: 'error',
              text: this.t('check-inputs'),
              _icon: 'coronita:error',
              timeout: 1500,
              noCancelOnOutsideClick: true,
              isStatic: false
            })

            return false
          }
        }

      }

      window.customElements.define(UserSettingsPage.is, UserSettingsPage);
    };

  </script>
</dom-module>