<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-template-zones/cells-template-zones.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-login-view/cells-login-view.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel='import' href='../../../components/cells-molecule-alert-slide/cells-molecule-alert-slide.html'>

<dom-module id="login-page">
  <template>
    <style>
      .signup {
        display: table;
        margin: auto;
        cursor: pointer;
      }

      .link {
        color: var(--cells-basic-login-links-color, #006EC1);
        text-align: center;
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.875rem;
      }

      cells-login-view {
        position: fixed;

      }
    </style>


    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__main">
        <cells-molecule-alert-slide id="alert" type="[[alert.type]]" text="{{alert.text}}" timeout="[[alert.timeout]]"></cells-molecule-alert-slide>

        <cells-login-view id="login" on-request-password-recover="_forgotenPassword" on-login="_loginUser"
          on-request-register="_signupAction" allow-registration clear-id-icon="coronita:close" clear-pwd-icon="coronita:close"
          toggle-pwd-icon="coronita:visualize" toggle-pwd-icon-toggled="coronita:hide" start-icon="coronita:lock"
          end-icon="coronita:unlock" header-image="http://bbva-files.s3.amazonaws.com/cells/assets/glomo/images/access/bg-login.jpg">
        </cells-login-view>

        <cells-generic-dp id="loginUserDP" host="[[techubank_api_url]]" path="v2/user/login" on-request-error="_loginErrorResponse"
          on-request-success="_loginResponse" body='{"username": "{{username}}", "password": "{{password}}"}'
          contentType='application/json' method="POST">
        </cells-generic-dp>

        <cells-generic-dp id="resetPassword" host="[[techubank_api_url]]" path="v2/user/{{username}}/resetPassword"
          on-request-error="_resetPasswordErrorResponse" on-request-success="_resetPasswordResponse" method="GET">
        </cells-generic-dp>

        <template is="dom-if" if="{{passwordReset}}">
          <p>{{username}}: {{t('password_reset')}}</p>
        </template>
      </div>

    </cells-template-paper-drawer-panel>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class LoginPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'login-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url
            },
            username: {
              type: String,
              notify: true
            },
            password: {
              type: String,
              notify: true
            },
            remind: {
              type: Boolean,
              notify: true
            },
            passwordReset: {
              type: Boolean,
              value: false,
              notify: true
            },
            alert_type: {
              type: String,
              value: 'error',
              notify: true
            },
            alert_timeout: {
              type: Number,
              value: 3000,
              notify: true
            }
          }
        }

        ready() {
          super.ready()

        }

        _forgotenPassword(event) {
          const alert = this.$.alert

          alert.addMessage({
            type: 'error',
            text: this.t('forgotten-password'),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          })
        }

        _resetPasswordResponse() {
          console.log('Password reset')
        }

        _resetPasswordErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('login'), 1500)
        }

        _loginUser(event) {
          const userCredentials = event.detail

          this.username = userCredentials.userId
          this.password = userCredentials.password

          if (userCredentials.remind) {
            window.sessionStorage.setItem('username', this.username)
          }
          this.$.loginUserDP.generateRequest()
        }

        _loginResponse(event) {
          const response = event.detail

          if (response) {
            window.sessionStorage.setItem('token', JSON.stringify(response))

            this.navigate('global-position')
          } else {
            console.log('Error in login process')

            const alert = this.$.alert

            alert.addMessage({
              type: 'error',
              text: this.t('login-incorrect'),
              _icon: 'coronita:error',
              timeout: 1500,
              noCancelOnOutsideClick: true,
              isStatic: false
            })
            setTimeout(() => {
              // window.location = "/"
              this.navigate('login')
            }, 1500)
          }
        }

        _loginErrorResponse(data) {
          const alert = this.$.alert

          alert.addMessage({
            type: 'error',
            text: this.t('login-incorrect'),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          })

          setTimeout(() => window.location.reload(), 1500)
        }

        _signupAction(event) {
          this.navigate('signup')
        }

      }

      window.customElements.define(LoginPage.is, LoginPage);
    };
  </script>
</dom-module>