<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">

<dom-module id="movement-search-page">
  <template>
    <style>
    </style>

    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <cells-component-app-header
          text=[[headerTitle]]>
        </cells-component-app-header>
      </div>

      <div slot="app__main" class="container">
        <button id="navigateButton"
                on-click="_handleClick"
                class="prev-next-button previous">&larr;</button>
        <h2>Go back to [[fromPage]] page!</h2>
      </div>
    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class MovementSearchPage extends CellsPage {
        static get is() {
          return 'movement-search-page';
        }

        static get properties() {
          return {
            headerTitle: {
              type: String,
              computed: '_computeHeaderTitle(params)'
            },
            fromPage: {
              type: String
            }
          };
        }

        ready() {
          super.ready();

          this._handleConnections();
        }

        _computeHeaderTitle(params) {
          const pageTitle = params['title'] || '';

          return decodeURI(pageTitle).replace(/-/g, ' ');
        }

        _handleConnections() {
          this.subscribe('from-channel', data => {
            const { from } = data;

            this.fromPage = from;
          });
        }

        _handleClick() {
          this.navigate('home');
        }
      }

      window.customElements.define(MovementSearchPage.is, MovementSearchPage);
    };
  </script>
</dom-module>
