<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-template-zones/cells-template-zones.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel='import' href='../../../components/cells-navigation-bar/cells-navigation-bar.html'>

<dom-module id="techubank-footer-page">
  <template>
    <style>

    </style>

    <cells-navigation-bar id="navigationBar" prevent-navigation on-selected-item="_navigateToSection">
    </cells-navigation-bar>

    <cells-generic-dp id="logoutDP" host="[[techubank_api_url]]" path="v2/user/{{token.username}}/logout"
      on-request-error="_logoutErrorResponse"
      on-request-success="_logoutResponse" body='{"username": "{{token.username}}", "password": "{{token.password}}", "access_token": "{{ token.access_token }}"}'
      contentType='application/json' method="POST">
    </cells-generic-dp>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class TechuBankFooterPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'techubank-footer-page';
        }

        static get properties() {
          return {
            token: {
              type: Object,
              value: '',
              notify: true
            },
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url
            }
          }
        }

        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          this.$.navigationBar.set('items', [{
            label: this.t('global-position'),
            icon: 'coronita:home',
            id: 'global-position'
          }, {
            label: this.t('user-settings'),
            icon: 'coronita:settings',
            id: 'user-settings'
          }, {
            label: this.t('logout'),
            icon: 'coronita:info',
            id: 'logout-session'
          }])

          this.set('token', JSON.parse(window.sessionStorage.getItem('token')))
        }

        _navigateToSection(payload) {
          console.log(payload.detail.id)
          switch (payload.detail.id) {
            case 'global-position':
              this.publish('refresh-accounts-info')
              this.navigate('global-position')
              //window.location = "/index.html#!/global-position"
              break;
            case 'user-settings':
              this.navigate('user-settings')
              //window.location = "/index.html#!/user-settings"
              break;
            case 'logout-session':
              const authorization_header = {
                  "authorization": `${this.token.token_type} ${this.token.access_token}`
                }

              this.$.logoutDP.set('headers', authorization_header)
              this.$.logoutDP.generateRequest()
              break;
            default:
              console.log(`Action event not registered: ${payload.detail}`)
              break;
          }
        }

        _logoutResponse() {
          console.log('User logged out')

          window.sessionStorage.clear()
          //this.navigate('home')          
          window.location = 'index.html'
        }

        _logoutErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('login'), 1500)
        }
      }

      window.customElements.define(TechuBankFooterPage.is, TechuBankFooterPage);
    };

  </script>
</dom-module>
