<link rel='import' href='../../../components/cells-page/cells-page.html'>
<link rel='import' href='../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html'>
<link rel='import' href='../../../components/banking-icons/banking-icons.html'>
<link rel='import' href='../../../components/coronita-icons/coronita-icons.html'>
<link rel='import' href='../../../components/cells-generic-dp/cells-generic-dp.html'>
<link rel='import' href='../../../components/cells-i18n-behavior/cells-i18n-behavior.html'>



<dom-module id='techubank-weather-page'>
  <template>
    <style>
      .weather__position {
        text-align: center;
        background: deepskyblue;
      }
    </style>

    <div class="weather__position">
        <spam class="item__label">{{weather_info.location}} ({{weather_info.temperature}} ºC - {{weather_info.weather}})</spam><br/>
        <img src="{{weather_info.icon}}" alt="{{weather_info.weather}}"/>
    </div>

    <cells-generic-dp id="getGeolocationDP" host="[[techubank_api_url]]" path="v2/weather" 
      on-request-error="_getGeolocationDPErrorResponse" on-request-success="_getGeolocationDPResponse"
      contentType="application/json" method="GET">
    </cells-generic-dp>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class TechuBankWeatherPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'techubank-weather-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url,
              notify: true
            },
            weather_info: {
              type: Object,
              notify: true
            }
          }
        }

        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          const options_position = {
            enableHighAccuracy: true,
            timeout: 15000
          }

          navigator.geolocation.getCurrentPosition(this._success_position.bind(this), this._error_position, options_position)

        }

        _success_position(position) {
          this.$.getGeolocationDP.params = {
            lat: position.coords.latitude,
            lon: position.coords.longitude,
            appid: 'e11e68ca841dd50504d2b84034f5dafa'
          }
          this.$.getGeolocationDP.generateRequest()
        }

        _error_position(error) {
          console.log(error)

        }

        _getGeolocationDPResponse(data) {
          console.log(data.detail)
          this.set('weather_info', data.detail)
        }

        _getGeolocationDPErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
        }
      }

      window.customElements.define(TechuBankWeatherPage.is, TechuBankWeatherPage);
    };

  </script>
</dom-module>