<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-date-input/cells-date-input.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-demo-lang-switcher/cells-demo-lang-switcher.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/moment/moment.js">
<link rel='import' href='../../../components/cells-molecule-alert-slide/cells-molecule-alert-slide.html'>

<dom-module id="signup-page">
  <template>
    <style>
    </style>

    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <!--         <cells-demo-lang-switcher id="localeSwitcher" locales-path="locales"></cells-demo-lang-switcher>
 -->
        <cells-component-app-header text="{{t('signup-page')}}">
        </cells-component-app-header>


      </div>

      <div slot="app__main" class="container">
        <cells-molecule-alert-slide id="alert" type="[[alert.type]]" text="{{alert.text}}" timeout="[[alert.timeout]]"></cells-molecule-alert-slide>

        <cells-molecule-input id="username" label="{{t('username')}}" type="text" value="{{userInfo.username}}"
          auto-validate required allowed-value="^[a-z0-9]{1,10}$" error-message="{{t('username_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="password" value="{{userInfo.password}}" label="{{t('password')}}" type="password"
          auto-validate required allowed-value="(?=.*\d).{8,20}" error-message="{{t('password_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="re_password" value="{{userInfo.re_password}}" label="{{t('re_password')}}" type="password"
          auto-validate required allowed-value="{{userInfo.password}}" error-message="{{t('re_password_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="name" value="{{userInfo.name}}" label="{{t('name')}}" type="text" auto-validate
          required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('name_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="first_name" value="{{userInfo.first_name}}" label="{{t('first_name')}}" type="text"
          auto-validate required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('first_name_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="last_name" value="{{userInfo.last_name}}" label="{{t('last_name')}}" type="text"
          auto-validate required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('last_name_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="nif" value="{{userInfo.nif}}" label="{{t('nif')}}" type="text" value="" auto-validate
          required allowed-value="\d{8}[-\s]?[a-z A-Z]" error-message="{{t('nif_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="birth_date" value="{{userInfo.birth_date}}" name="birth_date" label="{{t('birth_date')}}"
          auto-validate required allowed-value="([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" type="text"
          error-message="{{t('date_validation_error')}}"></cells-molecule-input>

        <cells-molecule-input id="email" value="{{userInfo.email}}" label="{{t('email')}}" type="email" value=""
          auto-validate required error-message="{{t('email_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="phone" value="{{userInfo.phone}}" label="{{t('phone')}}" type="text" value=""
          auto-validate required allowed-value="^([+]?\d{1,2}[-.\s]?)?(\d{3}[-.\s]?)(\d{2}[-.\s]?)\d{4}$" error-message="{{t('phone_validation_error')}}"></cells-molecule-input>


        <cells-molecule-input id="street" value="{{userInfo.address.street}}" label="{{t('street')}}" type="text"
          auto-validate required allowed-value="^[a-z0-9ñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('street_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="zip_code" value="{{userInfo.address.zip_code}}" label="{{t('zip_code')}}" type="text"
          auto-validate required allowed-value="^[a-z0-9]{1,10}$" error-message="{{t('zip_code_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="city" value="{{userInfo.address.city}}" label="{{t('city')}}" auto-validate required
          allowed-value="^[a-zñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('city_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="country" value="{{userInfo.address.country}}" label="{{t('country')}}" auto-validate
          required allowed-value="^[a-zñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('country_validation_error')}}"></cells-molecule-input>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_sendSignRequest">{{t('signup_action')}}</button>
        </cells-st-button>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_cancel">{{t('cancel_action')}}</button>
        </cells-st-button>


      </div>

      <cells-generic-dp id="signUpUserDP" host="[[techubank_api_url]]" path="v2/user" on-request-error="_signupErrorResponse"
        on-request-success="_signupResponse" body='{{userInfo}}' contentType='application/json' method="POST">
      </cells-generic-dp>

    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class SignupPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'signup-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url
            },
            alert_type: {
              type: String,
              value: 'error',
              notify: true
            },
            alert_timeout: {
              type: Number,
              value: 3000,
              notify: true
            },
            userInfo: {
              type: Object,
              notify: true,
              value: {
                "username": '',
                "name": '',
                "first_name": '',
                "last_name": '',
                "nif": '',
                "birth_date": '',
                "phone": '',
                "email": '',
                "password": '',
                "address": {
                  "street": '',
                  "zip_code": '',
                  "city": '',
                  "country": ''
                }
              }
            }
          };
        }

        ready() {
          super.ready();
        }

        _computeHeaderTitle(params) {
          const pageTitle = params['title'] || '';

          return decodeURI(pageTitle).replace(/-/g, ' ');
        }

        _handleConnections() {
          this.subscribe('from-channel', data => {
            const {
              from
            } = data;

            this.fromPage = from;
          });
        }

        _handleClick() {
          this.navigate('home');
        }

        _sendSignRequest(event) {
          this.$.signUpUserDP.body = this.userInfo

          if (this._validateInformation()) {
            this.$.signUpUserDP.generateRequest()
          }
        }

        _sendAlert(message_key, type) {
          const alert = this.$.alert

          alert.addMessage({
            type: type,
            text: this.t(message_key),
            _icon: `coronita:${type}`,
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          })

        }

        _signupResponse(data) {
          this._sendAlert('user-created', 'info')
          setTimeout(() => {
            this.navigate('login')
          }, 1500)
        }

        _cancel() {
          this.navigate('login')
        }
        _signupErrorResponse(data) {
          this._sendAlert(data.detail.internal_code, 'error')
        }

        _validateInformation() {
          if (this.$.username.validate() && this.$.name.validate() && this.$.first_name.validate() && this.$.last_name
            .validate() && this.$.nif.validate() &&
            this.$.phone.validate() && this.$.email.validate() && this.$.street.validate() && this.$.zip_code.validate() &&
            this.$.city.validate() &&
            this.$.country.validate() && this.$.birth_date.validate() && this.$.password.validate() && this.$.re_password
            .validate()
          ) {
            if (moment().subtract(18, 'years').isBefore(moment(this.$.birth_date.value, "DD/MM/YYYY"))) {
              this._sendAlert('user-not-adult', 'error')
              return false
            }
            return true
          } else {

            const alert = this.$.alert

            alert.addMessage({
              type: 'error',
              text: this.t('check-inputs'),
              _icon: 'coronita:error',
              timeout: 1500,
              noCancelOnOutsideClick: true,
              isStatic: false
            })

            return false
          }
        }

      }

      window.customElements.define(SignupPage.is, SignupPage);
    };

  </script>
</dom-module>
