<link rel='import' href='../../../components/cells-page/cells-page.html'>
<link rel='import' href='../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html'>
<link rel='import' href='../../../components/cells-component-app-header/cells-component-app-header.html'>
<link rel='import' href='../../../components/cells-organism-menu-sidebar/cells-organism-menu-sidebar.html'>
<link rel='import' href='../../../components/banking-icons/banking-icons.html'>
<link rel='import' href='../../../components/coronita-icons/coronita-icons.html'>
<link rel='import' href='../../../components/cells-generic-dp/cells-generic-dp.html'>
<link rel='import' href='../../../components/cells-i18n-behavior/cells-i18n-behavior.html'>
<link rel='import' href='../techubank-header-page/techubank-header-page.html'>
<link rel='import' href='../techubank-footer-page/techubank-footer-page.html'>
<link rel='import' href='../techubank-weather-page/techubank-weather-page.html'>
<link rel='import' href='../../../components/cells-product-item-list/cells-product-item-list.html'>
<link rel='import' href='../../../components/cells-operations-list/cells-operations-list.html'>
<link rel='import' href='../../../components/cells-navigation-bar/cells-navigation-bar.html'>


<dom-module id='global-position-page'>
  <template>
    <style>
      .iban_selected_on_operations {
        background: rgb(35, 122, 186); 
        text-align: center; 
        color: white;
        font-size: x-large;
      }
    </style>

    <cells-template-paper-drawer-panel mode='seamed' has-footer>

      <div slot="app__header">
        <techubank-header-page title="{{t('global-position')}}"></techubank-header-page>
      </div>

      <div slot="app__main">

        <techubank-weather-page></techubank-weather-page>
        <div class="iban_selected_on_operations">
          <span hiden="{{hide_operations}}" >{{ account_iban_selected }}</span>
        </div>
        
        <cells-operations-list on-click="_switch_onoff_OperationsForAccount" operations="{{operations}}" grid-columns="3"
          limit="4" view-more on-view-more="customAction" hidden="{{hide_operations}}" on-operation-click="_navigateToOperation">
        </cells-operations-list>

        <cells-product-item-list on-product-item-tap="_save_OperationsForAccount" id="ui" items="{{accounts}}"
          balance="{{balance}}" loading></cells-product-item-list>

      </div>

      <div slot="app__footer">
        <techubank-footer-page></techubank-footer-page>
      </div>

    </cells-template-paper-drawer-panel>

    <cells-generic-dp id="getUserAllAccountsDP" host="[[techubank_api_url]]" path="v2/account/holder/{{token.nif}}"
      on-request-error="_getUserAllAccountsErrorResponse" on-request-success="_getUserAllAccountsResponse" contentType="application/json" method="GET">
    </cells-generic-dp>

    <cells-generic-dp id="getGeolocationDP" host="[[techubank_api_url]]" path="v2/weather" 
      on-request-error="_getGeolocationErrorResponse" on-request-success="_getGeolocationResponse"
      contentType="application/json" method="GET">
    </cells-generic-dp>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class GlobalPositionPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'global-position-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url,
              notify: true
            },
            token: {
              type: Object,
              notify: true
            },
            accounts: {
              type: Array,
              value: [],
              notify: true,
            },
            balance: {
              type: String,
              notify: true
            },
            operations: {
              type: Array,
              value: [],
              notify: true
            },
            hide_operations: {
              type: Boolean,
              value: true,
              notify: true
            },
            account_iban_selected: {
              type: String,
              value: '',
              notify: true
            }
          }
        }

       
        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          const operationsMock = [{
            label: this.t('operation-info'),
            id: "account-info",
            icon: "coronita:info"
          }, {
            label: this.t('operation-transfer'),
            id: "account-transfer",
            icon: "coronita:transfer"
          }, {
            label: this.t('operation-movements'),
            id: 'account-movements',
            icon: "coronita:listview"
          }]

          this.set('token', JSON.parse(window.sessionStorage.getItem('token')))
          this.set('operations', operationsMock)

          // MANDATORY TO ADD AUTHORIZATION HEADERS
          const authorization_header = {
            "authorization": `${this.token.token_type} ${this.token.access_token}`
          }

          this.$.getUserAllAccountsDP.set('headers', authorization_header)
          this.$.getUserAllAccountsDP.generateRequest()
          this.set('hide_operations', true)

          this.subscribe('refresh-accounts-info', () => {
            this.set('hide_operations', true)
            this.$.getUserAllAccountsDP.set('headers', authorization_header)
            this.$.getUserAllAccountsDP.generateRequest()
          })
        }


        _switch_onoff_OperationsForAccount(event) {
          this.set('hide_operations', !this.hide_operations)
        }

        _save_OperationsForAccount(event) {
          if (event.detail.productId != this.account_iban_selected){
            this.set('hide_operations', false)
            this.set('account_iban_selected', event.detail.productId)
          } else {
            this.set('hide_operations', !this.hide_operations)
          }
        }

        _navigateToOperation(event) {
          console.log(event.detail.id)
          window.sessionStorage.setItem('account_iban_selected', this.account_iban_selected)

          this.publish('account_iban_selected_changed', this.account_iban_selected)
          
          if (event.detail.id === 'account-movements') {
            this.publish('refresh-account-movements')
          }
          
          this.navigate(event.detail.id)
          //  window.location = `/index.html#!/${event.detail.id}`
        }

        _getUserAllAccountsErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('login'), 1500)
        }

        _getUserAllAccountsResponse(data) {
          delete data.detail.headers

          const tmp_accounts = [],
            tmp_balance = {
              'amount': 0,
              'currency': 'EUR',
              'scale': 0
            }

          data.detail.forEach((user_account) => {
            const account_item = {
              id: user_account.iban,
              name: user_account.title,
              description: {
                value: user_account.iban,
                masked: true
              },
              primaryAmount: {
                amount: user_account.current_balance,
                currency: user_account.currency,
                label: 'Available'
              },
              scale: 0,
              status: {
                id: user_account.status,
                description: user_account.status
              }
            }

            tmp_accounts.push(account_item)
            tmp_balance.amount = tmp_balance.amount + account_item.primaryAmount.amount,
              tmp_balance.currency = user_account.currency,
              tmp_balance.scale = 0

          })

          this.set('accounts', tmp_accounts)
          this.set('balance', tmp_balance)
        }

        _getGeolocationErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
        }

        _getGeolocationResponse(data) {
          console.log(`Weather info loaded: ${data.detail}`)
        }
        
      }


      window.customElements.define(GlobalPositionPage.is, GlobalPositionPage);
    };

  </script>
</dom-module>