<link rel='import' href='../../../components/cells-page/cells-page.html'>
<link rel='import' href='../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html'>
<link rel='import' href='../../../components/cells-component-app-header/cells-component-app-header.html'>
<link rel='import' href='../../../components/cells-organism-menu-sidebar/cells-organism-menu-sidebar.html'>
<link rel='import' href='../../../components/banking-icons/banking-icons.html'>
<link rel='import' href='../../../components/coronita-icons/coronita-icons.html'>
<link rel='import' href='../../../components/cells-generic-dp/cells-generic-dp.html'>
<link rel='import' href='../../../components/cells-i18n-behavior/cells-i18n-behavior.html'>
<link rel='import' href='../techubank-header-page/techubank-header-page.html'>
<link rel='import' href='../techubank-footer-page/techubank-footer-page.html'>
<link rel='import' href='../../../components/cells-product-item-list/cells-product-item-list.html'>
<link rel='import' href='../../../components/cells-operations-list/cells-operations-list.html'>
<link rel='import' href='../../../components/cells-product-more-info/cells-product-more-info.html'>
<link rel='import' href='../../../components/cells-successful-response/cells-successful-response.html'>
<link rel='import' href='../../../components/cells-from-to/cells-from-to.html'>

<dom-module id='account-transfer-page'>
  <template>
    <style>
      .summary__amount {
        text-align: center;
      }
    </style>

    <cells-template-paper-drawer-panel mode='seamed' has-footer>

      <div slot="app__header">
        <techubank-header-page title="{{t('account-transfer-page')}}"></techubank-header-page>
      </div>

      <div id="transfer_info" slot="app__main" class="container" hidden$="{{hide_transfer_info}}">

        <h2>Origin</h2>
        <cells-molecule-input id="origin" label="{{t('account')}}" type="text" value="{{transfer_info.from_iban}}" disabled></cells-molecule-input>

        <h2>Destination</h2>
        <cells-molecule-input id="recipient_iban" value="{{transfer_info.recipient_iban}}" label="{{t('recipient_iban')}}" type="text"
          auto-validate required allowed-value="^ES[0-9]{2}([\s]?[0-9]{4}){5}$" error-message="{{t('iban_validation_error')}}"></cells-molecule-input>
        <cells-molecule-input id="recipient_name_of_payee" value="{{transfer_info.recipient_name_of_payee}}" label="{{t('recipient_name_of_payee')}}"
          type="text" auto-validate required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('name_validation_error')}}"></cells-molecule-input>

        <h2>Amount</h2>
        <cells-molecule-input id="amount" value="{{transfer_info.amount}}" label="{{t('amount')}}" type="number" auto-validate
          required allowed-value="^\d+(,\d{1,2})?$" error-mesage="{{t('amount_validation_error')}}"></cells-molecule-input>

        <h2>Concept</h2>
        <cells-molecule-input id="concept" value="{{transfer_info.concept}}" label="{{t('concept')}}" type="text"
          auto-validate required allowed-value="^[a-zA-ZñÑáéíóúÁÉÍÓÚ_ ]{1,50}$" error-message="{{t('name_validation_error')}}"></cells-molecule-input>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_transferContinue">{{t('action_continue')}}</button>
        </cells-st-button>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_cancel">{{t('cancel_action')}}</button>
        </cells-st-button>

      </div>

      <div id="transfer_confirmation" slot="app__main" class="container" hidden$="{{hide_transfer_confirmation}}">
        <cells-from-to origin="{{ from_account_info.title}}" origin-number="{{ transfer_info.from_iban}}" destination="{{transfer_info.recipient_name_of_payee}}"
          destination-number="{{transfer_info.recipient_iban}}">
        </cells-from-to>

        <h1 class="summary__amount">{{t('amount')}}: {{transfer_info.amount}} €</h1>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_transferConfirm">{{t('action_continue')}}</button>
        </cells-st-button>

        <cells-st-button class="full">
          <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_cancel">{{t('cancel_action')}}</button>
        </cells-st-button>
      </div>

      <div id="transfer_sucess" slot="app__main" class="container" hidden$="{{hide_transfer_sucess}}">
        <cells-successful-response id="el" result="{{result}}" class="demo" format-date="DD MMMM YYYY hh:mm"
          on-go-to-next="_goToGlobalPosition" on-new-operation="_goToAccountTransfer"></cells-successful-response>
      </div>

      <div slot="app__footer">
        <techubank-footer-page></techubank-footer-page>
      </div>

    </cells-template-paper-drawer-panel>


    <cells-generic-dp id="newTransferDP" host="[[techubank_api_url]]" path="v2/transfer" on-request-success="_newTransferResponse"
      on-request-error="_newTransferErrorResponse" body="{{transfer_body}}" contentType="application/json" method="POST">
    </cells-generic-dp>

    <cells-generic-dp id="getAccountInfoDP" host="[[techubank_api_url]]" path="v2/account/{{transfer_info.from_iban}}/info"
      on-request-error="_getAccountInfoErrorResponse" on-request-success="_getAccountInfoResponse" contentType="application/json"
      method="GET">
    </cells-generic-dp>


    </cells-generic-dp>

  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class AccountTransferPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'account-transfer-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url,
              notify: true
            },
            token: {
              type: Object,
              notify: true
            },
            from_account_info: {
              type: Object,
              value: 'none',
              notify: true
            },
            transfer_info: {
              type: Object,
              value: {
                from_iban: '',
                recipient_iban: '',
                recipient_name_of_payee: 'none',
                to_iban: '',
                amount: '',
                concept: '',
              },
              notify: true
            },
            result: {
              type: Object,
              value: {},
              notify: true
            },
            hide_transfer_info: {
              type: Boolean,
              value: false,
              notify: true
            },
            hide_transfer_confirmation: {
              type: Boolean,
              value: true,
              notify: true
            },
            hide_transfer_sucess: {
              type: Boolean,
              value: true,
              notify: true
            }
          }
        }

        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          const transfer_tmp = {
            from_iban: '',
            recipient_iban: '',
            recipient_name_of_payee: '',
            amount: '',
            concept: '',
          }

          transfer_tmp.from_iban = window.sessionStorage.getItem('account_iban_selected')
          this.set('transfer_info', transfer_tmp)

          this.subscribe('account_iban_selected_changed', (iban_selected) => {
            this.set('transfer_info.from_iban', iban_selected)
          })

          this.set('token', JSON.parse(window.sessionStorage.getItem('token')))

          // MANDATORY TO ADD AUTHORIZATION HEADERS
          const authorization_header = {
            "authorization": `${this.token.token_type} ${this.token.access_token}`
          }
          this.$.getAccountInfoDP.set('headers', authorization_header)
          this.$.getAccountInfoDP.generateRequest()

        }

        _getAccountInfoErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('global-position'), 1500)
        }

        _getAccountInfoResponse(data) {
          this.set('from_account_info', data.detail)
        }

        _getUserResponse(data) {
          delete data.detail.headers

          this.set('userAccount', data.detail)
        }

        _transferContinue() {
          if (this.$.origin.validate() && this.$.recipient_iban.validate() && this.$.recipient_name_of_payee.validate() && this.$.amount.validate()  && this.$.concept.validate() ) {
            this.set('hide_transfer_info', true)
            this.set('hide_transfer_confirmation', false)
            this.set('hide_transfer_sucess', true)
          } else {
            const alert = {
              type: 'error',
              text: this.t('check-inputs'),
              _icon: 'coronita:error',
              timeout: 1500,
              noCancelOnOutsideClick: true,
              isStatic: false
            }

            this.publish('alert-message', alert)
          }
        }


          _transferConfirm() {
            const transfer = {
              amount: this.transfer_info.amount,
              currency: 'EUR',
              transfer_date: moment(new Date()).format('DD-MM-YYYY'),
              value_date: moment(new Date()).format('DD-MM-YYYY'),
              from_iban: this.transfer_info.from_iban,
              to_iban: this.transfer_info.recipient_iban,
              to_name: this.transfer_info.recipient_name_of_payee,
              from_nif: this.token.nif,
              status: 'DONE',
              concept: this.transfer_info.concept,
              when_type: 'ONE-TIME',
              when_info: 'INFO'
            }

            this.set('transfer_body', transfer)

            const authorization_header = {
              "authorization": `${this.token.token_type} ${this.token.access_token}`
            }

            this.$.newTransferDP.set('headers', authorization_header)
            this.$.newTransferDP.generateRequest()
          }

          _newTransferErrorResponse(data) {
            const alert = {
              type: 'error',
              text: this.t(data.detail.internal_code),
              _icon: 'coronita:error',
              timeout: 1500,
              noCancelOnOutsideClick: true,
              isStatic: false
            }
            
            console.log(data.detail)

            this.publish('alert-message', alert)
            setTimeout(() => this.navigate('global-position'), 1500)
          }

          _newTransferResponse(data) {
            const result_tmp = {
              id: '667466',
              date: this.transfer_info.transfer_date,
              title: 'cells-successful-response-success',
              origin: {
                product: {
                  id: 'ACCOUNTS',
                  name: this.from_account_info.title,
                },
                number: this.transfer_info.from_iban
              },
              fees: [{
                text: 'cells-successful-response-fees',
                amount: 0,
                currency: 'EUR'
              }],
              amount: {
                amount: this.transfer_info.amount,
                currency: 'EUR'
              },
              chargeAmount: {
                amount: this.transfer_info.amount,
                currency: 'EUR'
              },
              topInfo: [{
                key: 'cells-successful-response-concept',
                value: this.transfer_info.concept,
                class: 'bold spacing md'
              }],
              buttons: {
                primary: {
                  text: 'cells-successful-response-next',
                  action: 'go-to-next'
                },
                secondary: {
                  text: 'cells-successful-response-new-operation',
                  action: 'new-operation',
                  class: 'link'
                }
              }
            }

            this.set('result', result_tmp)


            this.set('hide_transfer_info', true)
            this.set('hide_transfer_confirmation', true)
            this.set('hide_transfer_sucess', false)

            this._goToGlobalPosition()

          }

          _goToGlobalPosition() {
            // remember to reset variables!
            this.set('hide_transfer_info', false)
            this.set('hide_transfer_confirmation', true)
            this.set('hide_transfer_sucess', true)

            this.publish('refresh-accounts-info')

            this.navigate('global-position')
          }

          _goToAccountTransfer() {
            // remember to reset variables!
            this.hide_transfer_info = false
            this.hide_transfer_confirmation = true
            this.hide_transfer_sucess = true

            this.navigate('account-transfer')
          }

          _cancel() {
            this.set('hide_transfer_info', false)
            this.set('hide_transfer_confirmation', true)
            this.set('hide_transfer_sucess', true)
            this.navigate('global-position')
          }

        }


        window.customElements.define(AccountTransferPage.is, AccountTransferPage);
      };

  </script>
</dom-module>
