<link rel='import' href='../../../components/cells-page/cells-page.html'>
<link rel='import' href='../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html'>
<link rel='import' href='../../../components/cells-component-app-header/cells-component-app-header.html'>
<link rel='import' href='../../../components/cells-organism-menu-sidebar/cells-organism-menu-sidebar.html'>
<link rel='import' href='../../../components/banking-icons/banking-icons.html'>
<link rel='import' href='../../../components/coronita-icons/coronita-icons.html'>
<link rel='import' href='../../../components/cells-generic-dp/cells-generic-dp.html'>
<link rel='import' href='../../../components/cells-i18n-behavior/cells-i18n-behavior.html'>
<link rel='import' href='../techubank-header-page/techubank-header-page.html'>
<link rel='import' href='../techubank-footer-page/techubank-footer-page.html'>
<link rel='import' href='../../../components/cells-product-item-list/cells-product-item-list.html'>
<link rel='import' href='../../../components/cells-operations-list/cells-operations-list.html'>
<link rel='import' href='../../../components/cells-product-more-info/cells-product-more-info.html'>
<link rel="import" href="../../../components/cells-product-more-info/cells-product-more-info.html">
<link rel="import" href="../../../components/cells-copy-button/cells-copy-button.html">

<dom-module id="account-info-page">
  <template>
    <style>
    </style>

    <cells-template-paper-drawer-panel mode="seamed" has-footer>
        <div slot="app__header">
            <techubank-header-page title="{{t('account-info')}}"></techubank-header-page>
        </div>

      <div slot="app__main" class="container">
    
        <h2>{{t('general-info')}}</h2>
        <cells-copy-button action-text="{{t('copy-iban-text')}}"
        action-text-copied="{{t('copy-iban-text-done')}}" clipboard-text="{{ account_info.iban }}">{{ account_info.iban }}</cells-copy-button>
      
        <cells-molecule-input name="defaultValue" label="{{t('title')}}" type="text" value="{{ account_info.title }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('holder_nif')}}" type="text" value="{{ account_info.holder_nif }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('type')}}" type="text" value="{{ account_info.type }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('opening_date')}}" type="text" value="{{ account_info.opening_date }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('status')}}" type="text" value="{{ account_info.status }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('description')}}" type="text" value="{{ account_info.description }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('currency')}}" type="text" value="{{ account_info.currency }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('available_balance')}}" type="text" value="{{ account_info.available_balance }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('current_balance')}}" type="text" value="{{ account_info.current_balance }}" disabled> </cells-molecule-input>
        
        <h2>{{t('address')}}</h2>
        <cells-molecule-input name="defaultValue" label="{{t('street')}}" type="text" value="{{ account_info.correspondence_address.street }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('zip_code')}}" type="text" value="{{ account_info.correspondence_address.zip_code }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('city')}}" type="text" value="{{ account_info.correspondence_address.city }}" disabled> </cells-molecule-input>
        <cells-molecule-input name="defaultValue" label="{{t('country')}}" type="text" value="{{ account_info.correspondence_address.country }}" disabled> </cells-molecule-input>

        <cells-st-button class="full">
            <button class="btn--primary btn--size-s" disabled$="[[disabledSubmit]]" on-click="_return">{{t('return_action')}}</button>
          </cells-st-button>
      </div>

      <div slot="app__footer">
          <techubank-footer-page></techubank-footer-page>
        </div>

      <cells-generic-dp id="getAccountInfoDP" host="[[techubank_api_url]]" path="v2/account/{{iban}}/info"
      on-request-error="_getAccountInfoErrorResponse" on-request-success="_getAccountInfoResponse" contentType="application/json" method="GET">
    </cells-generic-dp>

    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page')

      class AccountInfoPage extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior], CellsPage) {
        static get is() {
          return 'account-info-page';
        }

        static get properties() {
          return {
            techubank_api_url: {
              type: String,
              value: window.AppConfig.techubank_api_url,
              notify: true
            },
            token: {
              type: Object,
              notify: true
            },            
            iban: {
              type: String,
              computed: ''
            },
            account_info: {
              type: Object,
              value: {}
            }
          }
        }

        ready() {
          // hay que llamar siempre al super IMPORTANTISIMO
          super.ready()

          this.set('token', JSON.parse(window.sessionStorage.getItem('token')))
          this.set('iban', window.sessionStorage.getItem('account_iban_selected'))

          // MANDATORY TO ADD AUTHORIZATION HEADERS
          const authorization_header = {
            "authorization": `${this.token.token_type} ${this.token.access_token}`
          }

          this.$.getAccountInfoDP.set('headers', authorization_header)
          this.$.getAccountInfoDP.generateRequest()

        }

        _getAccountInfoErrorResponse(data) {
          const alert = {
            type: 'error',
            text: this.t(data.detail.internal_code),
            _icon: 'coronita:error',
            timeout: 1500,
            noCancelOnOutsideClick: true,
            isStatic: false
          }

          this.publish('alert-message', alert)
          setTimeout(() => this.navigate('global-position'), 1500)
        }

        _getAccountInfoResponse(data) {
          this.set('account_info', data.detail)
        }

        _return() {
          this.navigate('global-position')
        }
      }

      window.customElements.define(AccountInfoPage.is, AccountInfoPage);
    };

  </script>
</dom-module>